.cue-list-view{
    background-color: rgb(40, 40, 41);
    border-radius: 10px;
    h1{
        font-size: x-large;
    }
}
.add-cue-btn{
    background-color: rgb(80, 80, 80);
    margin: auto;
    width: 100%;
}